
<div class="antialiased bg-gray-50 dark:bg-gray-900">

  <!--  NavBar-->
    <app-nav></app-nav>

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!--  main-->
  <app-main></app-main>

</div>

<!--<div class="antialiased bg-gray-50 dark:bg-gray-900 flex">-->
<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <app-sidebar></app-sidebar>-->


<!--  &lt;!&ndash; Main content &ndash;&gt;-->
<!--  <div class="flex-1 flex flex-col">-->
<!--    <app-nav></app-nav>-->
<!--    &lt;!&ndash; Main &ndash;&gt;-->
<!--    <main class="p-4 md:ml-64 h-auto pt-20">-->
<!--      <router-outlet></router-outlet>-->
<!--    </main>-->
<!--  </div>-->
<!--</div>-->

<!--  <app-crudlayout [ngClass]="{'hidden': variable !== 'home'}"></app-crudlayout>-->
<!--  <app-dashboard [ngClass]="{'hidden': variable !== 'dashboard'}"></app-dashboard>-->
